/* Estilos globais */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* Estilos do cabeçalho */
header div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

nav a {
    display: flex;
    flex-direction: column;
    color: rgb(99, 97, 97);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;
    font-weight: bold;
    padding: 2px;
    font-size: 18px;
}

nav a:hover {
    color: rgb(121, 50, 50);
}

.secao_limite {
    max-width: 1024px;
    margin: 0 auto;
}

/* Estilos da seção Capa */
section {   /* Utilizamos o seletor section para que o estilo que iremos definir seja aplicado a todas as tags section */
    padding: 20px 60px;
}

.capa {     /* Código responsável pela imagem de fundo que terá no próximo passo o efeito overlay */
    position: relative;
    width: 100%;
    height: 50vh;
    text-align: center;
    background-image: url("../img/bg-estacao.png");
    background-repeat: no-repeat;
    background-size: cover;;
}

.capa::before { /* Código responsável pelo efeito Overlay na imagem de fundo */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    opacity: 0.5;
    top: 0;     /* O pseudo-elemento before recebe os valores top: 0 e left: 0 para que o estilo seja aplicado em toda a imagem de fundo */
    left: 0;
}

.capa div { /* Aqui temos o código responsável pela estilização da nossa div filha que contém os títulos da capa */
    z-index: 1;
    color: rgb(247, 235, 221);
    position: relative; /* A nossa div recebe o position relative para que os títulos não tenham a mesma opacidade da imagem de fundo da seção 'Capa' */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    font-size: 35px;
    text-shadow: 2px 5px 2px #000;
    line-height: 65px;
}

.capa div h1 {
    font-size: 80px;
}

.capa:hover {
    opacity: 0.9;
    font-size: 100px;
    transition: 0.5s;
}

/* Estilos da seção Sobre e Pontos Turísticos*/
h3 {
    font-size: 32px;
    text-align: center;
    margin: 0 0 40px 0;
}

.secao_destaque img:first-of-type { /* Código responsável por deixar as imagens da seção 'Sobre' e 'Pontos Turísticos' com uma largura de 100% no espaço de 1024px */
    width: 100%;
    margin-bottom: 25px;
}

p {
    line-height: 23px;
    font-size: 18px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.secao_destaque p::first-letter {
    font-size: 32px;
    font-style: italic;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 60px;
}

li {
    display: flex;  /* Acionamos o display: flex para que a imagem da seta possa aparecer antes de cada ponto turístico. Por padrão ele vem com o display: inline, que impede a imagem de ser exibida quando utilizarmos o pseudo-elemento Before. */
    align-items: center;
    margin: 15px 0 0 0;
    font-size:25px;}

li::before {
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/seta.png");
    margin-right: 15px;
    background-size: 25px 25px;
}

.galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.secao-galeria p {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

.card-img p {
    font-style: normal;
    font-weight: normal;
}

.card-img img {
    width: 320px;
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 2px 2px 6px black;
    margin: 2px;
}

.card-img img:hover {
    opacity: 1;
    width: 330px;
    transition: 0.2s;
}

footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 55px;
}

